.page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    height: 50%;
    width: 100%;
}

.base-container {
    background-color: #832736;
    border-radius: 6px;
    box-shadow: 0 2px 5px #000000;
}

.hotels-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 15%;
    min-width: 180px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.hotels-section-header {
    font-size: 14pt;
    padding: 10px;
}

.hotels-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hotels-list-button {
    background: none;
    color: #FFFFFF;
    font-size: 12pt;
    min-width: 100px;
    min-height: 50px;
    padding: 10px;
    cursor: pointer;

}

.hotels-list-button:hover, .activeHotel {
    background-color: #FBECD8;
    color: #832736;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.category-button {
    background: none;
    color: #FFFFFF;
    font-size: 12pt;
    min-width: 100px;
    flex-basis: 200px;
    cursor: pointer;
}

.category-button:hover, .activeCategory {
    background-color: #FBECD8;
    color: #832736;
    font-weight: bold;
}

.services-section {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 70%;
}

.services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

.services-list-item {
    display: flex;
    flex-direction: row;
    width: calc(50% - 5px);
    margin-top: 5px;
    padding: 0;
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .services-list-item {
        width: 100%;
    }
}

.service-content {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.service-img{
    width: 150px;
    height: 150px;
}

.service-img img{
    width: 150px;
    height: 150px;
}

.service-line{
    float: left;
    word-break: break-all;
    margin-left: 10px;
}

.service-name{
    width: 390px;
    font-size: 25px;
    text-align: center;
    color: #FBECD8;
    font-weight: bold;
}

.service-description{
    width: 390px;
    padding-left: 20px;
    font-size: 20px;
}

.service-price {
    width: 390px;
    padding-left: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

.service-text{
    color: #FBECD8;
    line-height: 30px;
    font-size: 25px;
}

.service-des{
    width: 390px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.service-button{
    padding-top: 10px;
}

.service-button button{
    border: 1px solid #fbecd8;
    border-radius: 5px;
    background: #832736;
    width: 170px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #FBECD8;
    cursor: pointer;
}

.service-button button:hover{
    background: #FBECD8;
    color: #832736;
}

.service-button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.service-input-text{
    padding-top: 10px;
    font-size: 20px;
    color: #FBECD8;
    text-align: center;
}

.service-input{
    padding-top: 10px;
}

.service-input input{
    width: 170px;
    height: 25px;
    border-radius: 3px;
}

