<div class="page-content">
    <div class="hotel-order-content">
        <!--Заказ 1-->
        <div class="hotel-order-form-section base-container">
            <div class="hotel-order-con-text">
                <div class="hotel-order-con-1">
                    <div class="hotel-order-text">
                        <div class="hotel-order-zak">
                            Категория заказа:
                        </div>

                        <div class="hotel-order-tt">
                            Уборка
                        </div>
                    </div>

                    <div class="hotel-order-text">
                        <div class="hotel-order-id-zak">
                            Id заказа:
                        </div>

                        <div class="hotel-order-tt">
                            1
                        </div>
                    </div>

                    <div class="hotel-order-text">
                        <div class="hotel-order-id-zaka">
                            Id заказчика:
                        </div>

                        <div class="hotel-order-tt">
                            5
                        </div>
                    </div>
                </div>

                <div class="hotel-order-con-2">
                    <div class="hotel-order-text">
                        <div class="hotel-order-nam">
                            Название услуги:
                        </div>

                        <div class="hotel-order-tt">
                            Хелп плз
                        </div>
                    </div>

                    <div class="hotel-order-text">
                        <div class="hotel-order-date-sos">
                            Дата составления заказа:
                        </div>

                        <div class="hotel-order-tt">
                            06.12.2020 15:30
                        </div>
                    </div>

                    <div class="hotel-order-text">
                        <div class="hotel-order-date">
                            Дата, на которую закано:
                        </div>

                        <div class="hotel-order-tt">
                            06.12.2020 17:30
                        </div>
                    </div>
                </div>
            </div>

            <div class="status">
                <div class="status-text">
                    В работе...
                </div>
            </div>
        </div>
    </div>
</div>
