<div class="hotel-list-content">
    <div class="hotel-content">

        <div class="hotel-list-header base-container">
            Ваши отели:
        </div>

        <div class="hotel-form-section base-container">
            <div class="hotel-con-1">
                <div class="hotel-form">
                    <div class="hotel-text">
                        Название отеля!
                    </div>

                    <div class="form-button">
                        <button class="Textarea-but">
                            Оставить отзыв!
                        </button>
                    </div>
                </div>

                <form class="form-inner">
                    <div class="Textarea-Header">
                        Оставить отзыв:
                    </div>

                    <div class="Textarea">
                        <textarea cols="20" name="text" placeholder="Напишите ваш отзыв!"></textarea>
                    </div>

                    <div class="submit-button">
                        <button type="submit" class="Textarea-but">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
