<div class="hotel-list-content">
    <div class="hotel-content">

        <div class="hotel-list-header base-container">
            Ваши отели:
        </div>

        <!--Пример 1-->
        <div class="hotel-form-section base-container">
            <div class="hotel-con-text">
                <div class="hotel-con-1">
                   <div class="hotel-form">
                        <div class="hotel-text">
                            Название отеля!
                        </div>
                        <div class="form-button">
                            <button class="Textarea-but">
                                Оставить отзыв!
                            </button>
                        </div>
                    </div>

                    <form>
                        <div class="form-inner">
                            <div class="Textarea-Header">
                                Оставить отзыв:
                            </div>
                            <div class="Textarea">
                                <label><textarea rows="10" cols="45" name="text" placeholder="Напишите ваш отзыв!">

                                </textarea></label>
                            </div>
                            <div class="Textarea-button">
                                <button type="submit" class="Textarea-but">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Пример 2-->
        <div class="hotel-form-section base-container">
            <div class="hotel-con-text">
                <div class="hotel-con-1">
                    <div class="hotel-form">
                        <div class="hotel-text">
                            Название отеля!
                        </div>
                        <div class="form-button">
                            <button class="Textarea-but">
                                Оставить отзыв!
                            </button>
                        </div>
                    </div>

                    <form>
                        <div class="form-inner">
                            <div class="Textarea-Header">
                                Оставить отзыв:
                            </div>
                            <div class="Textarea">
                                <label><textarea rows="10" cols="45" name="text" placeholder="Напишите ваш отзыв!">

                                </textarea></label>
                            </div>
                            <div class="Textarea-button">
                                <button type="submit" class="Textarea-but">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
