<div class="hotel-list-content">
    <div class="hotel-content">

        <div class="hotel-list-header base-container">
            Ваши отели:
        </div>

        <div *ngFor="let hotel of userHotels"
            class="hotel-form-section base-container">

            <div class="hotel-con-1">
                <div class="hotel-form">
                    <div class="hotel-text">
                        {{ hotel.name }}
                    </div>
                </div>

                <form class="form-inner">
                    <div class="Textarea-Header">
                        Оставить отзыв:
                    </div>

                    <div class="Textarea">
                        <textarea
                            [id]="'feedback_' + hotel.id"
                            [name]="'feedback_text_' + hotel.id"
                            cols="20"
                            placeholder="Напишите ваш отзыв!"
                            [(ngModel)]="hotel.feedback.text">
                        </textarea>
                    </div>

                    <div class="submit-button">
                        <button type="submit"
                            class="Textarea-but"
                            (click)="leaveFeedback(hotel)">
                            Отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
