<div class="temp-header">
    <img src="assets/img/logo.png" alt="">
</div>

<header>
    <a class="logo" routerLink="/main">
        Make<span>Travel</span>
    </a>

    <div class="main-menu">
        <button class="main-menu-button">
            <a routerLink="">Главная</a>
        </button>

        <button class="main-menu-button">
            <a routerLink="">Услуги</a>
        </button>

        <button class="main-menu-button">
            <a routerLink="">Мои отели</a>
        </button>

        <button class="main-menu-button">
            <a routerLink="">Отзывы</a>
        </button>

        <button class="main-menu-button">
            <a routerLink="">How to</a>
        </button>
    </div>

<!--    <div *ngIf="currentUser == UserRole.Unauthorized"-->
    <div class="authorization">
        <a class="authorization-items" routerLink="/auth/sign-up">Регистрация</a>
        <a class="authorization-items" routerLink="/auth/sign-in">Вход</a>
    </div>
</header>
