/* todo: удалить и сделать по-нормальному */
.temp-header {
    background-color: #FFFFFF;
    height: 100px;
    padding-left: 50px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #832736;
    height: 50px;
}

.logo-section {
    display: flex;
    flex-direction: row;
    flex: 3 3 20%;
    justify-content: center;
    color: #FFFFFF;
    font-family: Papyrus, Arial, sans-serif;
    font-size: 22pt;
}

.logo span {
    color: #FBECD8;
}

.main-menu {
    display: flex;
    flex: 1 1 60%;
    justify-content: center;
}

.main-menu-button {
    background: none;
    color: #FFFFFF;
    font-size: 12pt;
    min-width: 100px;
}

a:hover {
    color: #FBECD8;
}

.profile-section {
    display: flex;
    flex: 3 3 20%;
    justify-content: center;
    color: #FFFFFF;
}

.authorization-items {
    margin-left: 20px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
