<div class="m-menu">
    <div class="main-menu">
        <button class="main-menu-button" routerLink="/main">
            <a>Главная</a>
        </button>

        <button *ngIf="currentUser == UserRole.Client"
            class="main-menu-button" routerLink="/services">
            <a>Услуги</a>
        </button>

<!--        <button *ngIf="currentUser == UserRole.Client"-->
        <button
            class="main-menu-button" routerLink="/my-hotels">
            <a>Мои отели</a>
        </button>

        <button *ngIf="currentUser == UserRole.HotelAdmin"
            class="main-menu-button" routerLink="/create-service">
            <a>Новая услуга</a>
        </button>

        <button *ngIf="currentUser == UserRole.HotelAdmin"
            class="main-menu-button" routerLink="/hotel-orders">
            <a>Заказы</a>
        </button>

        <button *ngIf="currentUser == UserRole.HotelAdmin"
            class="main-menu-button" routerLink="/user-list">
            <a>Клиенты</a>
        </button>

        <button class="main-menu-button" routerLink="">
            <a>Отзывы</a>
        </button>

        <button class="main-menu-button" routerLink="">
            <a>How to</a>
        </button>
    </div>


    <div *ngIf="currentUser == UserRole.Unauthorized"
         class="profile-section">

        <button class="authorization-menu-button" routerLink="/auth/sign-up">
            <a class="authorization-items">Регистрация</a>
        </button>

        <button class="authorization-menu-button" routerLink="/auth/sign-in">
            <a class="authorization-items">Вход</a>
        </button>
    </div>

    <div *ngIf="currentUser != UserRole.Unauthorized"
         class="profile-section">

        <button class="authorization-menu-button" routerLink="/profile">
            <a class="authorization-items">Профиль</a>
        </button>
    </div>

</div>
