<div class="m-menu">
    <div class="main-menu">
        <button
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.Main }"
            (click)="appStateService.appState.currentPage = pages.Main"
            routerLink="/main">
            <a>Главная</a>
        </button>

        <button *ngIf="currentUser == UserRole.Client"
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.Services }"
            (click)="appStateService.appState.currentPage = pages.Services"
            routerLink="/services">

            <a>Услуги</a>
        </button>

        <button *ngIf="currentUser == UserRole.Client"
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.MyHotels }"
            (click)="appStateService.appState.currentPage = pages.MyHotels"
            routerLink="/my-hotels">

            <a>Мои отели</a>
        </button>

        <button *ngIf="currentUser == UserRole.HotelAdmin"
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.NewService }"
            (click)="appStateService.appState.currentPage = pages.NewService"
            routerLink="/create-service">

            <a>Новая услуга</a>
        </button>

        <button *ngIf="currentUser == UserRole.HotelAdmin"
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.Orders }"
            (click)="appStateService.appState.currentPage = pages.Orders"
            routerLink="/hotel-orders">

            <a>Заказы</a>
        </button>

        <button *ngIf="currentUser == UserRole.HotelAdmin"
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.Clients }"
            (click)="appStateService.appState.currentPage = pages.Clients"
            routerLink="/user-list">

            <a>Клиенты</a>
        </button>

        <button
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.Feedbacks }"
            (click)="appStateService.appState.currentPage = pages.Feedbacks"
            routerLink="/feedbacks">

            <a>Отзывы</a>
        </button>

        <button
            class="main-menu-button"
            (click)="appStateService.appState.currentPage = pages.Main"
            routerLink="">

            <a>How to</a>
        </button>
    </div>

    <div *ngIf="currentUser == UserRole.Unauthorized"
         class="profile-section">

        <button
            class="authorization-menu-button"
            [ngClass]="{ active: currentPage == pages.Registration }"
            (click)="appStateService.appState.currentPage = pages.Registration"
            routerLink="/auth/sign-up">

            <a class="authorization-items">Регистрация</a>
        </button>

        <button
            class="authorization-menu-button"
            [ngClass]="{ active: currentPage == pages.Authentication }"
            (click)="appStateService.appState.currentPage = pages.Authentication"
            routerLink="/auth/sign-in">

            <a class="authorization-items">Вход</a>
        </button>
    </div>

    <div *ngIf="currentUser != UserRole.Unauthorized"
         class="profile-section">

        <button
            class="authorization-menu-button"
            (click)="appStateService.appState.currentPage = pages.Main"
            routerLink="">

            <a class="authorization-items">Профиль</a>
        </button>

        <button class="authorization-menu-button"
            (click)="refreshPage()">

            <a class="authorization-items">Выйти</a>
        </button>
    </div>
</div>
