<div class="m-menu">
    <div class="main-menu">
        <button class="main-menu-button" routerLink="/main">
            <a>Главная</a>
        </button>

        <button class="main-menu-button" routerLink="/services">
            <a>Услуги</a>
        </button>

        <button class="main-menu-button" routerLink="">
            <a>Мои отели</a>
        </button>

        <button class="main-menu-button" routerLink="">
            <a>Отзывы</a>
        </button>

        <button class="main-menu-button" routerLink="">
            <a>How to</a>
        </button>
    </div>


    <div *ngIf="currentUser == UserRole.Unauthorized"
         class="profile-section">
        <button class="authorization-menu-button"><a class="authorization-items" routerLink="/auth/sign-up">Регистрация</a></button>
        <button class="authorization-menu-button"><a class="authorization-items" routerLink="/auth/sign-in">Вход</a></button>
    </div>

    <div *ngIf="currentUser != UserRole.Unauthorized"
         class="profile-section">
        <button class="authorization-menu-button"><a class="authorization-items" routerLink="/profile">Профиль</a></button>
    </div>

</div>
