.m-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #832736;
    height: 50px;
}

.logo-section {
    display: flex;
    flex-direction: row;
    flex: 3 3 20%;
    justify-content: center;
    color: #FFFFFF;
    font-family: Papyrus, Arial, sans-serif;
    font-size: 22pt;
}

.logo span {
    color: #FBECD8;
}

.main-menu {
    display: flex;
    flex: 1 1 60%;
    justify-content: center;
    margin-left: 4em;
}

.main-menu-button {
    background: none;
    color: #FFFFFF;
    font-size: 12pt;
    min-width: 100px;
    flex: 1;
    cursor: pointer;
}

.main-menu-button:hover{
    background: #FBECD8;
    height: 50px;
}

.main-menu-button:hover a{
    color: #832736;
}

.profile-section {
    display: flex;
    flex: 3 3 20%;
    justify-content: center;
    color: #FFFFFF;
}

.pro-file{
    padding-right: 100px;
    padding-left: 50px;
}

.authorization-items {
    margin-left: 20px;
}

.authorization-menu-button{
    background: none;
    font-size: 12pt;
    min-width: 100px;
    padding-right: 20px;
    cursor: pointer;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.authorization-menu-button:hover{
    background: #3C070E;
    height: 50px;
}

.authorization-menu-button:hover a{
    color: #FFE5B4;
}
