.page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    height: 50%;
    width: 100%;
}

.base-container {
    background-color: #832736;
    border-radius: 6px;
    box-shadow: 0 2px 5px #000000;
}

.hotels-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 15%;
    min-width: 180px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.hotels-section-header {
    font-size: 14pt;
    padding: 10px;
}

.hotels-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hotels-list-button {
    background: none;
    color: #FFFFFF;
    font-size: 12pt;
    min-width: 100px;
    min-height: 50px;
    padding: 10px;
    cursor: pointer;
}

.activeHotel {
    background-color: #FBECD8;
    color: #832736;
    pointer-events: none;
}

.hotels-list-button:hover {
    color: #FBECD8;
}

.feedbacks-section {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 70%;
}

.feedbacks-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 14pt;
    color: #FFF;
}

.feedbacks-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

.feedbacks-list-item {
    display: flex;
    flex-direction: row;
    width: calc(50% - 5px);
    margin-top: 5px;
    padding: 0;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .feedbacks-list-item {
        width: 100%;
    }
}

.feedbacks-content {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: nowrap;
}

.feedbacks-details-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between;
    word-break: break-word;
}

.feedback-description {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    font-size: 20px;
}

.feedback-author {
    margin-bottom: 5px;
    color: #FBECD8;
    font-size: 14pt;
}
