<div class="page-content">
    <div class="hotels-section base-container">
        <div class="hotels-section-header">
            Отель
        </div>

        <div class="hotels-list">
            <button *ngFor="let hotel of hotels"
                class="hotels-list-button"
                [ngClass]="{ activeHotel: hotel.id == currentHotelId }"
                (click)="hotelSelected(hotel.id)">

                {{ hotel.name }}
            </button>
        </div>
    </div>

    <div class="feedbacks-section">
        <div class="feedbacks-header base-container">
            <div>
                Отзывы
            </div>
        </div>

        <div class="feedbacks-list">
            <div *ngFor="let feedback of hotelFeedbacks"
                class="feedbacks-list-item base-container">

                <div class="feedbacks-content">
                     <div class="feedbacks-details-section">

                        <div class="feedback-description">
                            <div class="feedback-author">
                                {{ feedback.userLogin }}:
                            </div>

                            <div>{{ feedback.text }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
