<div class="user-list-content">
    <div class="user-content">
        <div *ngFor="let user of users"
            class="user-form-section base-container">

            <div class="user-con-text">
                <div class="user-con-1">
                    <div class="user-text">
                        <div class="user-login">
                            Логин:
                        </div>

                        <div class="user-tt">
                            {{ user.login }}
                        </div>
                    </div>

                    <div class="user-text">
                        <div class="user-passport">
                            ФИО:
                        </div>

                        <div class="user-tt">
                            {{ user.name }}
                        </div>
                    </div>
                </div>

                <div class="user-con-2">
                    <div class="user-text">
                        <div class="user-login">
                            Паспорт:
                        </div>

                        <div class="user-tt">
                            {{ user.passport }}
                        </div>
                    </div>

                    <div class="user-text">
                        <div class="user-passport">
                            E-mail:
                        </div>

                        <div class="user-tt">
                            {{ user.email }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="bt">
                <button *ngIf="!user.isBanned"
                    (click)="unbanUser(user.id)"
                    class="user-uban">
                    Разбанить
                </button>

                <button *ngIf="!user.isBanned"
                    (click)="banUser(user.id)"
                    class="user-uban">
                    Забанить
                </button>
            </div>
        </div>
    </div>
</div>

