html, body, app-root {
    min-height: 100%;
    min-width: 768px;
    margin: 0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.header, .content .footer {
    display: flex;
    flex-direction: column;
}

app-header, app-footer {
    flex: 0 0 auto;
}

.content {
    flex: 1 1 auto;
    padding: 0 50px;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

app-header {
    position: sticky;
    top: 0;
}
