<footer>
    <div class="top-footer-section">
        <div class="footer-content">
            <div class="section-header">Контакты</div>

            <div>&#9742; +380-68-111-11-11</div>
            <div class="gmail">&#9993; maketravel@gmail.com</div>
        </div>

        <div class="footer-content">
            <div class="ot">
            <div class="section-header">Софт</div>

            <a class="google-play"
                href="https://play.google.com/store/apps/details?id=com.miHoYo.GenshinImpact&hl=ru&gl=US"
                target="_blank">
                <img src="assets/img/google-play-badge.png" alt="">
            </a>
            </div>
        </div>

        <div class="footer-content footer-logo">
            <div>MakeTravel</div>
        </div>
    </div>

    <div class="bottom-footer-section">
        ©2020 MakeTravel, все права защищены
    </div>
</footer>
