footer {
    color: #FFFFFF;
    margin-top: 200px;
    font-family: Arial, sans-serif;
}

.top-footer-section {
    display: flex;
    align-items: center;
    background-color: #832736;
    height: 150px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    font-size: 10pt;
    margin-left: 100px;
}

.gmail{
    border: 1px solid white; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px;
}

.section-header {
    font-size: 13pt;
}

.google-play, .google-play img {
    width: 150px;
}

.bottom-footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3C070E;
    height: 30px;
    font-size: 9pt;
}

.ot{
    margin-left: 5em;
}

.footer-logo {
    align-items: flex-end;
    font-size: 16pt;
    font-family: Papyrus, Arial, sans-serif;
    margin-left: 50%;
}
